@media only screen and (max-width: 68.75em) { /* 1100px / 16px = 68.75em */
    html { font-size: 50%; }
}

@media screen and (max-width: 56.25em) { /* 900px / 16px = 56.25em */
    .f-width { max-width: 50% !important; }
    .title-header { max-width: 45% !important;}
    .m--4 {
        margin-left: 35rem;
    }
}

@media screen and (max-width: 50em) { /* 800px / 16px = 50em */
    .heading-xxs-width { width: 100% !important; }
    .title-header { max-width: 60% !important;}
    .m--4 {
        margin-left: 25rem;
    }
}

@media screen and (max-width: 42.5em) { /* 680px / 16px = 42.5em */
    nav div a:not(:first-child){ margin-left: 2rem; }
    .f-width { max-width: 100% !important; }
    .d-sm-none { display: none !important; }
    .d-sm-block { display: block !important; }
    .flex-sm-column { flex-direction: column; }
    footer > div > div { max-width: 100% !important;}
    .mt-sm-12 { margin-top: var(--distance-12);}
    .sm-img-gallery img { width: 150%; }
    .title-header { max-width: 80% !important;}
}

@media screen and (max-width: 31.25em) { /* 500px / 16px = 31.25em */
    .flex-xs-column { flex-direction: column; }
    .img-xs-width img { max-width: 150% !important; }
}

@media screen and (max-width: 25em) { /* 400px / 16px = 25em */
}