@media only screen and (min-width: 93.75rem) {
    .width-md { 
        padding: 0 3rem 0 3rem;
    }
    .bg-mr {
        margin-right: 5rem;
    }
    .bg-ml {
        margin-left: 4rem;
        margin-right: -1rem;
    }
    .youssef-size {
        width: 50%;
    }
    .order-first {
        order: 0;
    }
    .order-second {
        order: 1;
        border-right: solid 1px rgba(0, 0, 0, 0.1);
    }
    .sm-show {
        display: none;
    }
    .sm-size {
        font-size: medium;
    }
    .index-border-right {
        margin-right: 1.5rem;
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        /* border-left: solid 1px rgba(100, 100, 100, 0.25); */
    }
    .index-border-left {
        margin-left: 1.5rem;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        /* border-right: solid 1px rgba(100, 100, 100, 0.25); */
    }
}

@media only screen and (max-width: 93.75rem) { /* 1500px / 16px */
    .width-md { 
        max-width: 50%;
        padding: 0 5rem 0 5rem;
    }
    .sm-ml { margin-left: 10rem;}
    .sm-mr { margin-right: 10rem;}
    .youssef-size {
        width: 100%;
    }
    .order-next-last {
        order: 9;
    }
    .order-last {
        order: 10;
    }
    .min-height-md {
        min-height: 15rem;
    }
    .sm-hide {
        display: none;
    }
    .index-border-right {
        margin-left: 20%;
        max-width: 30%;
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        /* border-left: solid 1px rgba(100, 100, 100, 0.25); */
    }
    .index-border-left {
        margin-right: 20%;
        max-width: 30%;
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        /* border-left: solid 1px rgba(100, 100, 100, 0.25); */
    }
}

@media only screen and (max-width: 78.125rem) { /* 1250px / 16px */
    .sm-ml { margin-left: 5rem;}
    .sm-mr { margin-right: 5rem;}
}

@media only screen and (max-width: 68.75em) { /* 1100px / 16px = 68.75em */
    html { font-size: 50%; }
    .sm-ml { margin-left: 3rem;}
    .sm-mr { margin-right: 3rem;}
    .sm-px {
        width: 80%;
        margin: auto;
        padding-left: 4rem;
    }
    .add-mr {
        margin-left: 7%;
        margin-right: 2%;
    }
}

@media only screen and (max-width: 62.5em) { /* 1100px / 16px = 68.75em */
    .sm-px {
        padding-left: 3rem;
    }
}

@media screen and (max-width: 56.25em) { /* 900px / 16px = 56.25em */
    .f-width { max-width: 50% !important; }
    .title-header { max-width: 45% !important;}
    .m--4 {
        margin-left: 35rem;
    }
    .sm-px {
        width: 90%;
        margin: auto;
        padding-left: 3rem;
    }
}

@media screen and (max-width: 50em) { /* 800px / 16px = 50em */
    .heading-xxs-width { width: 100% !important; }
    .title-header { max-width: 60% !important;}
    .m--4 {
        margin-left: 25rem;
    }
    .sm-px {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 42.5em) { /* 680px / 16px = 42.5em */
    nav div a:not(:first-child){ margin-left: 2rem; }
    .f-width { max-width: 100% !important; }
    .d-sm-none { display: none !important; }
    .d-sm-block { display: block !important; }
    .flex-sm-column { flex-direction: column; }
    footer > div > div { max-width: 100% !important;}
    .mt-sm-12 { margin-top: var(--distance-12);}
    .sm-img-gallery img { width: 150%; }
    .title-header { max-width: 80% !important;}
}

@media screen and (max-width: 31.25em) { /* 500px / 16px = 31.25em */
    .flex-xs-column { flex-direction: column; }
    .img-xs-width img { max-width: 150% !important; }
}

@media screen and (max-width: 25em) { /* 400px / 16px = 25em */
}